<a href="https://colab.research.google.com/github/shubhamksingh1/TextClassification/blob/main/KTRAIN/BTClassificationTrainValSplit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Drive mount

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

### Importing Libraries

In [ ]:
import pandas as pd

### Reading CSV

In [ ]:
df = pd.read_csv("/content/drive/My Drive/BTClassText/BT_Chat_Data.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557 entries, 0 to 556
Data columns (total 3 columns):
Notes               557 non-null object
Keywords/Phrases    557 non-null object
Category            557 non-null object
dtypes: object(3)
memory usage: 13.2+ KB

In [ ]:
df.describe()

                                                    Notes  ...                        Category
count                                                 557  ...                             557
unique                                                557  ...                              12
top      jumper complete sync and dial tone tested and...  ...  fibre completed copper pending
freq                                                    1  ...                             249

[4 rows x 3 columns]

In [ ]:
df.head()

                                               Notes  ...                          Category
0  ends associated cr with this job please follow...  ...  copper pending field work needed
1   connected fibre in cab no dside due to no acc...  ...      copper pending routing issue
2   ogecr mfl ok ltok all sockets unplugged and n...  ...    fibre completed copper pending
3   upstreamspeed downstreamspeed tested notteste...  ...    fibre completed copper pending
4  ends i cannot complete this task because the j...  ...  reappointment needed out of time

[5 rows x 3 columns]

In [ ]:
print('\nFrequency distribution of unique values => \n\n'+ str(df['Category'].value_counts(dropna=False).sort_values(ascending = False)))

Frequency distribution of unique values =>

fibre completed copper pending            249
dslam capacity issue                       83
copper pending routing issue               75
copper pending line plant access issue     63
copper pending field work needed           19
reappointment needed eu not present        16
order cancelled                            15
reappointment needed out of time           14
sales query                                10
order completed in field                    8
fault in network                            4
reappointment needed new skills needed      1
Name: Category, dtype: int64

In [ ]:
df.shape

(557, 3)

In [ ]:
len(df['Notes'].unique())

557

In [ ]:
train = pd.DataFrame()
test = pd.DataFrame()

In [ ]:
train

Empty DataFrame
Columns: []
Index: []

In [ ]:
test

Empty DataFrame
Columns: []
Index: []

In [ ]:
df_grp = df.groupby('Category')

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
def splittrainval(df,train,test):
    train_part, test_part = train_test_split(df, test_size=0.3)
    print(train_part.shape)
    train = train.append(train_part,ignore_index=True)
    test = test.append(test_part,ignore_index=True)
    return train,test

In [ ]:
cat = list(df['Category'].unique())

In [ ]:
print(cat)

['copper pending field work needed', 'copper pending routing issue', 'fibre completed copper pending', 'reappointment needed out of time', 'dslam capacity issue', 'order completed in field', 'copper pending line plant access issue', 'fault in network', 'sales query', 'reappointment needed eu not present', 'order cancelled', 'reappointment needed new skills needed']

In [ ]:
for i in cat:
    try:
        df_cat1 = df_grp.get_group(i)
        train, test = splittrainval(df_cat1,train,test)
    except:
        continue

(13, 3)
(52, 3)
(174, 3)
(9, 3)
(58, 3)
(5, 3)
(44, 3)
(2, 3)
(7, 3)
(11, 3)
(10, 3)

In [ ]:
train.shape,test.shape,df.shape

((385, 3), (171, 3), (557, 3))

In [ ]:
train.to_csv("/content/drive/My Drive/BTClassText/train.csv",index=False)
test.to_csv("/content/drive/My Drive/BTClassText/test.csv",index=False)